.picture {
    max-width: 40vh;
    max-height: 40vw;
}
.title-lg{
    font-size: 8vh;
}
.title-md{
    font-size: 4vh;
}

.text-about{
    font-size: 2vh;
}
#portfolio,
#contact{
    display: none;
}


.image-grid {
    max-width: 80%;
    max-height: 80%;
}