.picture {
    max-width: 40vh;
    max-height: 40vw;
}
.title-lg{
    font-size: 8vh;
}
.title-md{
    font-size: 4vh;
}

.text-about{
    font-size: 2vh;
}
#portfolio,
#contact{
    display: none;
}

.carousel{
    margin: auto;
    max-width: 80vw;
    height: 80vh;
}
.carousel-inner { 
    margin: auto;
    width: 80%;
    height: auto;

}

.img-grid{
    margin: auto;
    max-height: 60vh;
    opacity: 0.5;
}
.carousel-caption{
    font-size: 1vw;
}
